{{! Three-cloumn footer file }}
<footer>
    <div class="medium-4 columns">
        <h2>Subscribe</h2>
        <input type="text" placeholder="your@email.com" />
        <button>Subscribe!</button>
    </div>
    <div class="medium-4 columns">
    <h2>About me</h2>
    Here could be a great description.
    </div>
    <div class="medium-4 columns"><pre><code>console.log("hello, world");</code></pre></div>
</footer>