
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}


<section class="post">
    {{#if image}}
        <div class="post-image" style="background-image: url({{image}})"></div>
    {{/if}}
    <div class="title meta">
        
        <h1><a href="{{url}}">{{title}}</a></h1>
        
    </div>
    <article class="flow-text">{{content}}</article>
</section>
<div class="post-divider"></div>

{{/foreach}}

