{{!< default}}

<div class="medium-9 columns" id="block-main" >
    {{! Include "partials/loop". That's all }}
    {{> "loop"}}
    
    {{! Pagination outside of the loop to keep the layout }}
    {{pagination}}
</div>